
$body-font-family: 'Didact Gothic', sans-serif;
$header-h1-font-family: 'Ribeye Marrow', cursive;

$lightgrey: #D9D0CB;
$body-background: #EEE4DA;
$blue: #506F8E;
$darkgrey: darken($lightgrey, 25%);
$black: #fff;
$beige: #EEE4DA;

$border-radius: 20px;
$border-width: 10px;

$total-width: 1200px;
